<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    {% load i18n %}
    <title>{% translate "Your Daily Diet (YDD)" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.ico' %}"/>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/typography.css' %}?{% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/page.css' %}?{% now 'U' %}">

    <script src="https://kit.fontawesome.com/9d369a0696.js" crossorigin="anonymous"></script>


</head>
<body>
    <div class="page-wrapper">
        {% block header %}
            <header class="header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a href="{% url 'main_page' %}" class="navbar-brand">{% translate "Your Daily Meal" %}</a>

                    <button class="navbar-toggler" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarToggler"
                            aria-controls="navbarToggler"
                            aria-expanded="false" aria-label="{% translate 'Toggle navigation' %}">
                      <span class="navbar-toggler-icon"></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="{% url 'meals_list' %}" class="nav-link">{% translate "All meals" %}</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'add_meal' %}" class="nav-link">{% translate "Add meal" %}</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{% url 'meal_types' %}" class="nav-link">{% translate "Meal types" %}</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'add_meal_type' %}" class="nav-link">{% translate "Add meal type" %}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                </nav>
            </header>
        {% endblock %}

        <main class="main">
            {% block content %}
            {% endblock %}
        </main>

        {% block footer %}
            <footer class="footer">
                <div class="footer-content">
                    {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}" class="nav-link">{% translate "Login" %}</a>
                    <a href="{% url 'signup' %}" class="nav-link">{% translate "Sign up" %}</a>
                    {% else %}
                    <span class="navbar-text">{% translate "Hello, " %}{{ user }}</span>
                    <a href="{% url 'logout' %}" class="nav-link">{% translate "Logout" %}</a>
                    {% endif %}
                </div>
            </footer>
        {% endblock %}
    </div>
</body>
</html>