<!DOCTYPE html>

{% load static %}

<html lang="uk">
<head>
    {% load i18n %}
    <title>{% translate "Your Daily Diet (YDD)" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


</head>
<body>

    {% block header %}
        <header>
            <h3>Todo: I am header</h3>
        </header>
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}
        <footer>
            <h4>Todo:  I am footer</h4>
        </footer>
    {% endblock %}
</body>
</html>