{% extends 'base.html' %}
{% load i18n %}
{% load meal_type_stringifier %}

{% block content %}
    <h1 class="align-center">{% translate "Meals" %} ({{ meals_data|length}})</h1>

    <div class="container">

        {% for meal in meals_data %}
        <div class="card default-margin-y">
            <div class="card-body">
                <h4 class="meal-header">
                    {{ meal.name }}
                    {% if meal.is_vegetarian %}
                    <span class="fa-solid fa-leaf color-secondary"></span>
                    {% endif %}

                    <span class="meal-type"><span class="fa-solid fa-bowl-food"></span> {{ meal.type }}</span>
                </h4>
                <div class="details">
                    {{ meal.description }}
                </div>
                {% if perms.ydd_db.add_meal %}
                <div class="default-margin-top">
                    <a class="btn btn-secondary btn-sm" href="{% url 'delete_meal' pk=meal.id %}">
                        {% translate "Delete" %}
                    </a>
                    <a class="btn btn-secondary btn-sm" href="{% url 'update_meal' pk=meal.id %}">
                        {% translate "Update" %}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
