{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <section class="form-centered">
        <div class="form-content">
            <h3>{% translate "Username: " %}{{ user.username }}</h3>
            <ul>
                <li>{% translate "Registered: " %}{{ user.date_joined }}</li>
                <li>{% translate "Last login: " %}{{ user.last_login }}</li>
            </ul>


            {% if bot_user.bot_username %}
                <h3>{% translate "Integration with telegram bot" %}</h3>
<pre>
{% translate "Telegram username: " %}   {{ bot_user.bot_username }}
{% translate "Telegram user id:  " %}   {{ bot_user.bot_user_id }}
{% translate "Registered bot: " %}      {{ bot_user.bot_created_at }}
{% translate "Updated:" %}              {{ bot_user.bot_updated_at }}
{% translate "Code valid till: " %}     {{ bot_user.bot_valid_till }}
{% translate "Is expired: " %}          {{ bot_user.is_still_valid }}

{% translate "Code: " %}                {{ bot_user.bot_code }}
<span class="fa-solid fa-copy color-secondary"></span> <small>Copy code and verify in telegram</small>
</pre>

                <div class="default-margin-top">
                    <a href="{% url 'generate_new_code' %}" class="btn btn-primary">{% translate "Generate new code" %}</a>
                    <a href="{% url 'delete_integration' %}" class="btn btn-danger default-margin-left">{% translate "Delete integration" %}</a>
                </div>
            {% else %}
                <h3>{% translate "Connect Your Daily Meal Bot" %}</h3>
                <div class="default-margin-top">
                    <img src="/static/images/android-chrome-192x192.png" width="86"/>
                    <a href="https://telegram.me/YourDailyDietAssistantBot" target="_blank" class="btn btn-primary default-margin-left">{% translate "Connect" %}</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}