:root {
    --color-primary: #397367;
    --color-secondary: #42858C;
    --color-text: #35393C;
    --color-sub-text: #35393C;
    --color-border: rgba(53, 57, 60, 0.3);

    --padding-small: 8px;
    --padding-default: 16px;
    --padding-double: 32px;

    --border-radius: 8px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */
body {
    color: var(--color-text);
}
.color-primary {
    color: var(--color-primary);
}
.color-secondary {
    color: var(--color-secondary);
}


/* Spacings */
.default-margin {
    margin: var(--padding-default);
}
.default-margin-x {
    margin-left: var(--padding-default);
    margin-right: var(--padding-default);
}
.default-margin-y {
    margin-top: var(--padding-default);
    margin-bottom: var(--padding-default);
}
.default-margin-top {
    margin-top: var(--padding-default);
}

.default-margin-left {
    margin-left: var(--padding-default);
}